#bible-control .content {
    height: calc(100vh - 102px);
    width: 100%;
    float: left;
    background-color: inherit;
    background: rgba(0,0,0,0.5);
}


#bible_verselist_container, #bible_versequeue_container{
    height: 100%;
    width: 50%;
    float: left;
}

#bible_verselist, #bible_versequeue{
    height: 90%;
}

.wrapper{
    width: 98%;
    margin: 1%;
    border: 3px solid #17181b;
    height: calc(98% - 6px);
}

#bible_verselist_container h2, #bible_versequeue_container h2{
    color: white;
    text-align: center;
    height: 10%;
}

#bible_high_half{
    height: 70%;
}

#bible_low_half{
    height: 30%;
}

#bible_slidecontrol{
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.bible-element-slide-preview-item{
    height: 100%;
    width: 100%;
}

#bible_search{
    float:left;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

#bible-search-contain{
    margin: 0 auto;
    max-width:70vw;
    width: 100%;
}

#bible-search-contain > div {
    width: 100%;
}

#bible_search input{
    width: 100%;
    height: 40px;
    color: #000;
    letter-spacing: 0;
    position: relative;
    font-weight: normal;
    z-index:10;
    border: 1px solid #fff;
    padding: 5px;
    background: #fff;
    font-size: 1.5em;
    line-height: 30px;
    margin: 0 !important;
}

#bible_search form input{
    cursor: auto;
}



.verselistItem{
    /*width: calc(100% - 14px);*/
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    position: relative;
}

.verse_text{
    padding: 1%;
    float:right;
    width: 85%;
}

.verse_link{
    width: 15%;
    float:left;
    text-align:center;
}

.verse_add_to_queue, .verse_remove_from_queue{
    display: flex;
    position: absolute;
    align-items: center;
    width: 10%;
    right: -11%;
    height: 100%;
    text-align: center;

}

.verse_add_to_queue{
    background: #49a078;
}

.verse_add_to_queue i, .verse_remove_from_queue i{
    width: 100%;
}

.verse_remove_from_queue{
    background: #6b0f1a;
}

.slide-chapter-text{
    top:0;
    position: absolute;
    height: 80%;
    width: 100%;
    left: 0;
    white-space: normal;
    text-align: center;
}

.slide-chapter-link-container{
    height: calc(20% - 1px);
    left: 0;
    position: absolute;
    top: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: 1px solid white;
}

.slide-chapter-link{
    height: 40%;
    width: 98%;
    text-align: right;
    position: relative;
    display: flex;
    align-self: center;
}

#presentation-content .slide-container .slide-chapter-link{
    left: 100%;
}

.medialistItem{
    width: calc(100% - 14px);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    height:5vh;
}

.media_text{
    padding: 1%;
    float:right;
    width: 85%;
}

.media_link{
    width: 15%;
    float:left;
    text-align:center;
}

.media_link i{
    font-size: 3vh;
}

.media_link .fa-video-camera {
    color: #bf4e30;
}


.media_link .fa-music {
    color: #f1dac4;
}
