div[id$="_tab"] .content {
    height: calc(100vh - 117px);
    background-color: inherit;
    background: rgba(0,0,0,0.5);
}


div[id$="-main-window"] {
    width: 100%;
    height: 100%;
    background-color: #070707;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.75);
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans Semibold', 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    cursor: default;
}

.playListArea {
    width: 20%;
    float: left;
    position: relative;
    top: 0;
    height: inherit;
}

.control {
    float: right;
    width: 80%;
    height: inherit;
}

#songservice-playlist {
    height: inherit;
    position: relative;
    top: 0;
}

.playList {
    background: inherit;
    height: calc(100% - 39px);
    width: 100%;
    position: relative;
    right: 0;
    top: 0;
    border-bottom: 3px solid #17181b;
    border-right: 3px solid #17181b;
}

.bottomtoolbar {
    position: relative;
    background: inherit;
    height: 35px;
    width: 100%;
    right: 0;
    bottom: 0;
}
