.modal-90-percent{
    height: 90vh;
    width: 90vw;
}

.modal-50-percent{
    height: 50vh;
    width: 50vw;
}

*[id$='-modal'] {
    padding: 0;
    overflow: hidden;
    font-size: 16px;
}

*[id$='-modal'] .bbm-modal {
    max-width: 90vw !important;
}

