body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

#presentation-content{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    align-items: center;
}

#presentation-content .slide-container{
    position: absolute;
    width: inherit;
    height: inherit;
    /*opacity: 0.0;*/
}

.nextImage{
    z-index: 2;
    position: absolute;
}

.prevImage{
    z-index: 3;
    position: absolute;
}

#presentation-content > #media-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: inherit;
    width: inherit;
}
