#songservice-songbase > .row {
    z-index: 1;
    height: calc(100vh - 80px);
    background-color: #17181b;
    -webkit-user-select: none;
}

.songbase-container .content {
    float: left;
    height: calc(100vh - 127px);
    width: 100%;
}

#songBaseAuthorsList {
    height: calc(100% - 39px);
}

#songBasePlayList {
    height: calc(100% - 39px);
}

#songBaseSongsList {
    height: calc(100% - 39px);
}

#songBaseSongPreview {
    height: calc(100% - 39px);
    padding: 1em;
    color: wheat;
}

#songBaseSongEditor {
    width: 60%;
    float: left;
    position: relative;
    height: inherit;
    background: transparent;
}

/* Author list */

.list {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    overflow-x: hidden;
    overflow-y: overlay;
    -webkit-overflow-scrolling: touch;
}

.list::-webkit-scrollbar {
    width: 10px;
}

.list::-webkit-scrollbar-track {
    background-color: #30333c;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.list::-webkit-scrollbar-thumb {
    background-color: #83888c;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.list::-webkit-scrollbar-thumb:hover {
    background-color: #93989c;
}

.list::-webkit-resizer,
.list::-webkit-scrollbar-corner,
.list::-webkit-scrollbar-button,
.list::-webkit-scrollbar-track-piece {
    display: none;
}

.list::-webkit-scrollbar-track {
    margin-top: 0;
}

/* Author item */



.item {
    display: inline-block;
    float: left;
    width: inherit;
    font-size: 1em;
    color: white;
    background: #122b40;
    cursor: pointer;
    margin: 0;
}

.item.passive {
    background: #668586;
    opacity: 0.5;
}

.item.active {
    background: #114c61;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
    opacity: 1;
}

.item.selected {
    //border: 2px solid #72aad0;
    background: #93989c;
    opacity: 1;
}

.songbase-container .area {
    height: calc(100vh - 127px);
    position: relative;
}

.area {
    height: calc(100% - 39px);
}

.area .loader {
    display: none;
}

.area .authors {
    height: 100%;
}

.area .songs {
    height: 100%;
}

.area .loader .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.5;
}

/* Song editor */

#author-modal .bbm-modal {
    max-width: 550px !important;
}


#switch_preview_content i.active {

    color: #009926;

}


#songeditor_mainarea {
    height: 90vh;
    width: 90vw;
}

#switch_preview_content {
    box-shadow: none;
}

