/*
#videoplayer_videocontrol {
    float: right;
    width: 80%;
    height: inherit;
}*/

/*#videoplayer_videolist {
    background: inherit;
    height: calc(100% - 38px);
    width: 100%;
    position: relative;
    right: 0;
    top: 0;
    border-bottom: 3px solid #17181b;
    border-right: 3px solid #17181b;
}*/

/*#videoplayer_bottomtoolbar {
    position: relative;
    background: inherit;
    height: 35px;
    width: 100%;
    right: 0;
    bottom: 0;
}*/
